<style>
h2
{
    color: rgb(160, 25, 25);
}

h3
{
    color: darkcyan;
}

b
{
    color: blueviolet;    
}
strong
{
    color: blueviolet;    
}

p{
    color: darkred;
}
</style>